<ng-container *ngIf="!dichotomousQuestion; else dataAvailable">
  <div class="d-flex position-absolute top-50 start-50 translate-middle">
    <div class="row">
      <div class="col-md-6 mb-3">
        <mat-card>
          <mat-card-content class="px-5 py-3 text-center">
            <h3>No data available</h3>
            <!-- Input -->
            <input #fileInput hidden type="file" (change)="onFileSelect($event, fileInput)" accept="application/json, text/plain" />
            <!-- Button -->
            <p>
              <button mat-raised-button color="primary" (click)="fileInput.click()">
                <mat-icon>file_upload</mat-icon>
                <span> Upload JSON</span>
              </button>
            </p>
          </mat-card-content>
          <mat-card-content *ngIf="fileContent">
            {{ fileContent | json }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card>
          <mat-card-content class="px-5 py-3 text-center">
            <p>
              <button mat-stroked-button (click)="viewSampleData()">
                <!-- downloadData('dichotomous-sample.json', sampleFile) -->
                <!-- <mat-icon>file_download</mat-icon> -->
                <span> View Sample</span>
              </button>
            </p>
            <a href="https://github.com/lightzane/dichotomous-questions/tree/main/src/assets#readme" target="_blank"> Write your Own </a>
          </mat-card-content>
          <mat-card-content *ngIf="fileContent">
            {{ fileContent | json }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #dataAvailable>
  <app-header (getStarted)="getStarted()">
    {{ dichotomousQuestion?.goal }}
  </app-header>

  <app-answered *ngFor="let answered of questionsAnswered; let i = index" [answer]="answered.value" [index]="i + 1">
    {{ answered.question }}
  </app-answered>

  <app-question *ngIf="currentQuestion as question" (yes)="yes(question)" (no)="no(question)" [initial]="questionsAnswered.length === 0" (back)="back(questionsAnswered[questionsAnswered.length - 1])">
    {{ question.value }}
  </app-question>

  <app-footer *ngIf="goal">
    {{ goal }}
  </app-footer>
</ng-template>
